@model SistemaMensualidadesCITI.Models.Pago

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/print.css" rel="stylesheet" />
    <script src="~/js/qr.min.js"></script>
</head>

<body style="text-align:center" onload="window.print();" onafterprint="history.back()">
        <h1>RECIBO</h1>
        <h4>Numero:   @Html.DisplayFor(model => model.NroRecibo)</h4>

        <hr />

        <div>
            <p>
                Nombre:  @Html.DisplayFor(model => model.Ingeniero.Info)
            </p>
            <p>
                Fecha:  @Html.DisplayFor(model => model.Fecha)
            </p>

            <table>
                <tr>
                    <th>Mes</th>
                    <th>Anio</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Mes)</td>
                    <td>@Html.DisplayFor(model => model.Anio)</td>
                    <td>@Html.DisplayFor(model => model.Total)</td>
                </tr>
            </table>

            <small>ususario:  @Html.DisplayFor(model => model.Usuario.Email)</small>
        </div>


        <div style="margin-top: 20px; width:80%">
            <div id="qrcode"></div>
        </div>

        @{
            string codigoQR = String.Format("{0}|{1}|{2}|{3}|{4}|{5}",
            Model.NroRecibo,
            Model.Ingeniero!.Ci,
            Model.Ingeniero!.Nombre,
            Model.Mes,
            Model.Anio,
            Model.Total
            );
        }

        <script>
            var qrcode = new QRCode("qrcode", {
                text: "@codigoQR",
                width: 100,
                height: 100
            });
        </script>


    </body>
</html>